*::selection {
  background-color: rgb(171, 119, 219);
}

.body, html {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #444452;
  width: 100%;
  line-height: 1.5;
}

.main-content {
  display: block;
}

.intro {
  display: flex;
  margin: 0 auto;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
}

.emoji-coffee {
  margin: 0 5px;
  display: inline-block;
}
.emoji-nerd {
  display: inline-block;
  cursor: pointer;
}

.emoji-nerd:hover {  
  animation: wiggle 1s ease;
  animation-iteration-count: 1;
}

@keyframes wiggle {
  20%  { transform: translateX(4px);  }
  40%  { transform: translateX(-4px); }
  60%  { transform: translateX(2px);  }
  80%  { transform: translateX(-1px); }
  100% { transform: translateX(0);    }
}

.intro__welcome {
  color: gold;
}

.application__header {
  color: rgb(171, 119, 219);
  text-transform: uppercase;
  text-align: right;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
}

form > button {
  position: relative;
}

form > button:after {  
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: gold;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
form > button:hover:after { 
  width: 100%; 
  left: 0; 
}

.application__header {
  
}

.application__code, .application__demo {
  display: inline-block;
}

.application__code, .application__demo, .application__description {
  text-align: right;
}

.application__description > span {
  border: 1px solid goldenrod;
  border-radius: 10px;
  padding: .3rem;
}

.application__demo__btn, .application__code__btn {
  background-color: transparent;
  border: none;
}

.application__description {
  font-family: 'Muli', sans-serif;
  font-weight: lighter;
}
.application__demo__btn {
  font-weight: bolder;
}

.application__demo__btn:focus, .application__code__btn:focus {
  outline:0;
}

.email {
  border-bottom: 3px solid rgb(171, 119, 219);
}

a {
  color: black!important;
  text-decoration: none!important;
  transition:color 200ms ease!important;
  padding-left: .3rem;
  padding-right: .3rem;
}

a:hover {
  color: white!important; 
  text-decoration:none!important; 
  cursor:pointer;  
}

.email {
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: color 1000ms;
  transition: color 1000ms;
}
.email:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(171, 119, 219);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
}
.email:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 20px;
}

a > i {
  display: inline;
  color: rgb(171, 119, 219);
}

.footer {
  height: 100%;
}

.github-text, .linkedin-text, .email-text {
  display: none;
  color: rgb(171, 119, 219);
  border-bottom-color: transparent;
  padding: 10px;
  /* -webkit-transition: border-bottom-color 1s ease;
  -moz-transition: border-bottom-color 1s ease;
  -o-transition: border-bottom-color 1s ease;
  -ms-transition: border-bottom-color 1s ease;
  transition: border-bottom-color 1s ease;  */
}

/* .github-text:hover, .linkedin-text:hover, .email-text:hover {
  border-bottom: 3px solid;
  border-bottom-color:  rgb(171, 119, 219);
} */

.github-text, .linkedin-text, .email-text {
  transition: color 0.25s;
  position: relative;
  vertical-align: middle;
}
.github-text:before, .linkedin-text:before, .email-text:before,
.github-text:after, .linkedin-text:after, .email-text:after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.github-text:before, .linkedin-text:before, .email-text:before,
.github-text:after, .linkedin-text:after, .email-text:after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.github-text:before, .linkedin-text:before, .email-text:before {
  top: 0;
  left: 0;
}

.github-text:after, .linkedin-text:after, .email-text:after {
  bottom: 0;
  right: 0;
}

.github-text:hover, .linkedin-text:hover, .email-text:hover {
  color: gold;
}

.github-text:hover:before, .linkedin-text:hover:before, .email-text:hover:before,
.github-text:hover:after, .linkedin-text:hover:after, .email-text:hover:after {
  width: 100%;
  height: 100%;
}

.github-text:hover:before, .linkedin-text:hover:before, .email-text:hover:before {
  border-top-color: gold;
  border-right-color: gold;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s; 
}

.github-text:hover:after, .linkedin-text:hover:after, .email-text:hover:after {
  border-bottom-color: gold;
  border-left-color: gold;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .intro__welcome {
    font-size: 5rem;
  }
  .intro__about {
    font-size: 3rem;
    max-width: 700px;
  }
  .intro__contact {
    font-size: 2.5rem;
  }
  .intro {
    padding: 200px 250px;
  }
  .emoji-coffee {
    width: 50px;
    height: 50px;
  }
  .intro__about, .intro__contact {
    margin-block-start: 7rem;
    margin-block-end: 5rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  li {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 1.5rem;
  }
  .github-text, .linkedin-text, .email-text {
    display: inline;
    font-size: 2rem;
  }
  a > i {
    display: none!important;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .intro__welcome {
    font-size: 4rem;
  }
  .intro__about {
    font-size: 3rem;
    max-width: 700px;
  }
  .intro__contact {
    font-size: 1.8rem;
  }
  .intro {
    padding: 150px 190px;
  }
  .emoji-coffee {
    width: 40px;
    height: 40px;
  }
  .intro__about, .intro__contact {
    margin-block-start: 4rem;
    margin-block-end: 3rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  li {
    margin-left: 35px;
    margin-right: 35px;
    font-size: 1rem;
  }
  .github-text, .linkedin-text, .email-text {
    display: inline;
    font-size: 1rem;
  }
  a > i {
    display: none!important;
  }
  .application__header {
    font-size: 4rem;
    text-align: left;
  }
  .application__code {
    font-size: 1.5rem;
  }
  .application__demo {
    font-size: 1.3rem;
  }
  .application__description > span {
    margin: .5rem;
    display: inline-block;
  }
  .app {
    border-right: 2px solid rgb(171, 119, 219);
    padding-right: 20px;
    margin-bottom: 4rem;
  }

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .intro__welcome {
    font-size: 4rem;
  }
  .intro__about {
    font-size: 3rem;
    max-width: 700px;
  }
  .intro__contact {
    font-size: 2.5rem;
  }
  .intro {
    padding: 100px 90px;
  }
  .emoji-coffee {
    width: 30px;
    height: 30px;
  }
  .intro__about, .intro__contact {
    margin-block-start: 4rem;
    margin-block-end: 3rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  li {
    margin-left: 35px;
    margin-right: 35px;
    font-size: 2rem;
  }
  .github-text, .linkedin-text, .email-text {
    display: inline;
    font-size: 1.9rem;
  }
  a > i {
    display: none!important;
  }
  .application__header {
    font-size: 2.6rem;
    text-align: left;
  }
  .application__code {
    font-size: 1.7rem;
  }
  .application__demo {
    font-size: 1.7rem;
  }
  .application__description > span {
    display:inline-block; 
    margin: .4rem;
  }
  .application__description > p {
    font-size: 1.2rem;
  }
  .application-container > .container > .row > .col {
    margin-left: 2.3rem;
    padding: 0px!important;
  }

  .app {
    border-right: 2px solid rgb(171, 119, 219);
    padding-right: 20px;
    margin-bottom: 4rem;
  }

  .app > .row > .text-right {
    padding-left: 0px!important;
  }

  form > button {
    padding: 0px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .intro__welcome {
    font-size: 4rem;
  }
  .intro__about {
    font-size: 3rem;
    max-width: 700px;
  }
  .intro__contact {
    font-size: 2.5rem;
  }
  .intro {
    padding: 150px 220px;
  }
  .emoji-coffee {
    width: 30px;
    height: 30px;
  }
  .intro__about, .intro__contact {
    margin-block-start: 4rem;
    margin-block-end: 3rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  li {
    margin-left: 35px;
    margin-right: 35px;
    font-size: 2rem;
  }
  .application__header {
    font-size: 3rem;
    text-align: left;
  }
  .application__code {
    font-size: 1.7rem;
  }
  .application__demo {
    font-size: 1.7rem;
  }
  .application__description > span {
    display:inline-block; 
    margin: .4rem;
  }
  .application__description > p {
    font-size: 1.2rem;
  }
  .application-container > .container > .row > .col {
    margin-left: 2.3rem;
  }
  .app {
    border-right: 2px solid rgb(171, 119, 219);
    padding-right: 20px;
    margin-bottom: 4rem;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 411px) and (max-width: 823px) and (orientation: landscape) {
  .intro__welcome {
    font-size: 3rem;
  }
  .intro__about {
    font-size: 2.4rem;
    max-width: 700px;
  }
  .intro__contact {
    font-size: 1rem;
  }
  .intro {
    padding: 70px 50px;
  } 
  .emoji-coffee {
    width: 30px;
    height: 30px;
  }
  .intro__about, .intro__contact {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  li {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
  }
  .application__header {
    font-size: 2rem;
    text-align: left;
  }
  .application__code {
    font-size: 1.7rem;
  }
  .application__demo {
    font-size: 1.7rem;
  }
  .application__description > span {
    display:inline-block; 
    margin: .4rem;
  }
  .application__description > p {
    font-size: 1.2rem;
  }
  .application-container > .container > .row > .col {
    margin-left: 2.3rem;
  }
  .app {
    border-right: 2px solid rgb(171, 119, 219);
    padding-right: 20px;
    margin-bottom: 4rem;
  }
  form > button {
    padding: 0px!important;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .intro__welcome {
    font-size: 3rem;
  }
  .intro__about {
    font-size: 1.4rem;
    max-width: 700px;
  }
  .intro__contact {
    font-size: 1rem;
  }
  .intro {
    padding: 70px 50px;
  } 
  .emoji-coffee {
    width: 30px;
    height: 30px;
  }
  .intro__about, .intro__contact {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  li {
    margin-left: 35px;
    margin-right: 35px;
    font-size: 1.5rem;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .intro__welcome {
    font-size: 2rem;
  }
  .intro__about {
    font-size: 1.4rem;
    max-width: 700px;
  }
  .intro__contact {
    font-size: 1rem;
  }
  .intro {
    padding: 40px 30px;
  } 
  .emoji-coffee {
    width: 25px;
    height: 25px;
  }
  .intro__about, .intro__contact {
    margin-block-start: 3rem;
    margin-block-end: 2rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  li {
    margin-left: 35px;
    margin-right: 35px;
    font-size: 1rem;
  }
  .application__header {
    font-size: .8rem;
    text-align: left;
  }
  .application__code {
    font-size: .7rem;
    display: inline;
  }
  .application__demo {
    font-size: .7rem;
    display: inline;
  }
  .application__description > span {
    display:inline-block; 
    margin: auto;
    padding: 2px;
    font-size: .5rem;
  }
  .application__description > p {
    font-size: .5rem;
  }
  .application-container > .container > .row > .col {
    margin-left: 1rem;
  }
  .app {
    border-right: 2px solid rgb(171, 119, 219);
    padding-right: 30px;
    margin-bottom: 2rem;
    width: 130%;
  }
  form > button {
    padding: 0px!important;
    width: 200%;
  }
}