html, body, .nav {
  width: 100%;
  margin: 0 auto;
}

.menu a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

.menu {
  margin: 0 30px 0 0;
}

.hamburger {
  margin: 0 20px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
}

#toggle {
  display: none;
}

.nav {
  background-color: #3B5998;
  line-height: 70px;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  text-align: right;
}

header {
  font-family: 'Roboto', sans-serif;
}

img, embed, object, video {
  max-width: 100%;
}

img[alt="headshot"] {
  margin-top: 70px;
  border-radius: 100%;
}

#preload {
  display: none;
}