html, body, .nav {
  width: 100%;
  margin: 0 auto;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.menu li a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  cursor: pointer;
}

.menu a:focus {
  color: white;
}

.menu a:hover {
  color: lightgrey;
}

.menu {
  margin: 0 30px 0 0;
}

.hamburger {
  margin: 0 20px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
}

#toggle {
  display: none;
}

.nav {
  background-color: #3B5998;
  line-height: 50px;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  text-align: right;
}

header {
  font-family: 'Roboto', sans-serif;
}

.highlight {
  color: #8b9dc3;
  font-weight: bold;
}

.application-container {
  background-color: #f0f0f0;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.col-sm {
  position: relative;
  display: inline-block;
}

.image {
  display: block;
}

.btn-dark {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
}

.btn-light {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 18%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
}

.overlayFade{
  height: 100%;
  width:100%;
  top:0;
  left:0;
  background-color: #ff946bbd;
}

.overlay {
  position: absolute;
  opacity: 0;
  transition:all .3s ease;
  background-color: rgba(145, 168, 192, 0.801);
}

.col-sm:hover .overlay,.col-sm:hover .overlayFade {
  opacity: 1;
}

.form-control {
  position: relative;
}

.input-group-addon {
  background-color: transparent!important;
  border: 1px solid #dfe3ee!important;
  border-right: transparent!important;
}

input[id="name"],
input[id="email"] {
  z-index: 0!important;
}

textarea[id="message"],
input[id="name"],
input[id="email"],
input[id="subject"] {
  width: 100%;
  border: 1px solid #dfe3ee;
  box-shadow: none !important;
  -webkit-appearance: none;
  outline: none;
  box-sizing: border-box;
  transition: .3s;
}

textarea[id="message"]:focus,
input[id="name"]:focus,
input[id="email"]:focus,
input[id="subject"]:focus {
  border-color: dodgerblue;
  outline: none;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.input-group {
  margin-bottom: 8px;
}

.btn-primary {
  background-color: #3b5998!important;
  border: 1px solid #3b5998!important;
}

.btn-primary:hover {
  background-color: #4f70b5!important;
  border: 1px solid #4f70b5!important;
}

img, embed, object, video {
  max-width: 100%;
}

img[alt="headshot"] {
  margin-top: 100px;
  border-radius: 100%;
}

#preload {
  display: none;
}