/* Resize nav item size */
@media only screen and (max-width: 375px) {
  nav a {
    font-size: 15px;
  }
}

/* Increase margin between nav items */
@media only screen and (min-width: 450px) {
  nav a {
    margin: 0 15px;
  }
}

/* Position header in about section */
@media only screen and (min-width: 300px) {
  .header-intro {
    margin-top: 18%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* Keep buttons block style for small screens */
@media only screen and (max-width: 750px) {
  a.button {
    display: block;
    width: 100%;
  }
  .app-item {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

/* Keep font of about section small for small screens */
@media only screen and (max-width: 500px)  {
  .intro-h1 {
    font-size: 20px;
  }
  .intro-h3 {
    font-size: 15px;
  }
}

/* Half width of header in about section */
/* Increase font of about section for larger screens */
/* Make about section a flex container */
@media only screen and (min-width: 450px)  {
  .header-intro {
    width: 50%;
  }
  .intro-h1 {
    font-size: 25px;
  }
  .intro-h3 {
    font-size: 20px;
  }
  #about-container {
    display: flex;
  }
}