.Nav--container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(56, 56, 56);
  padding: 0.4rem 1rem;
  font-family: "Open Sans", sans-serif;
  text-transform: lowercase;
  position: fixed;
  top: 0;
  transition: top 0.6s, box-shadow 0.6s;
  z-index: 10000000;
}

.--hidden {
  top: -100px;
}

.--boxshadow {
  -webkit-box-shadow: 0px 1px 4px rgb(0, 0, 0);
  -moz-box-shadow: 0px 1px 4px rgb(0, 0, 0);
  box-shadow: 0px 1px 4px rgb(0, 0, 0);
}

.Nav--links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav--links > a {
  text-decoration: none !important;
}

.Nav--linkItem {
  padding: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  color: white;
  transition: color 250ms ease-in-out;
}

.Nav--linkItem:hover {
  color: hsl(50, 58%, 78%);
}

.Nav--logo {
  cursor: pointer;
  margin-left: 0.5rem;
}

.resume {
  color: #6b806b;
  border: 2px solid #6b806b;
  /* background-color: white; */
  border-radius: 3px;
  margin-left: 1rem;
  margin-right: 1rem;
  -webkit-transition: color 250ms ease-in-out,
    background-color 250ms ease-in-out, border 250ms ease-in-out;
  -moz-transition: color 250ms ease-in-out, background-color 250ms ease-in-out,
    border 250ms ease-in-out;
  -o-transition: color 250ms ease-in-out, background-color 250ms ease-in-out,
    border 250ms ease-in-out;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out,
    border 250ms ease-in-out;
}

.resume:hover {
  color: white;
  background-color: hsl(50, 58%, 78%);
  border: 2px solid #c2b889;
}

svg#zack-logo path {
  transition: 250ms ease-in-out;
}
svg#zack-logo:hover > path {
  fill: #e7dca5;
}
